/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.wcflex-container a:active,
.wcflexslider a:active,
.wcflex-container a:focus,
.wcflexslider a:focus  {outline: none;}
.slides,
.wcflex-control-nav,
.wcflex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
/* @font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
} */

/* FlexSlider Necessary Styles
*********************************/
.wcflexslider {margin: 0; padding: 0;}
.wcflexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.wcflexslider .slides img {/*width: 100%;*/ margin-left: auto; margin-right: auto; display: block;}
.wcflex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.wcflexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.wcflex-viewport { max-height: 2000px; }
.loading .wcflex-viewport { max-height: 300px; }
/* .wcflex-viewport { max-height: 2000px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; } */
.wcflexslider .slides { zoom: 1; }
.wccarousel li { margin-right: 5px; }

/* Direction Nav */
.wcflex-direction-nav {*height: 0;}
.wcflex-direction-nav a  { display: block; width: 50px; height: 50px; margin: -25px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; /*-webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease;*/ }
.wcflex-direction-nav .wcflex-prev { background: url("images/slide-arrow-left.png") no-repeat center center !important; left: 0; }
.wcflex-direction-nav .wcflex-next { background: url("images/slide-arrow-right.png") no-repeat center center !important; right: 0; text-align: right; }
.wcflexslider:hover .wcflex-prev { opacity: 1; left: 0px; }
.wcflexslider:hover .wcflex-next { opacity: 1; right: 0px; }
.wcflexslider:hover .wcflex-next:hover, .wcflexslider:hover .wcflex-prev:hover { opacity: 1; }
.wcflex-direction-nav .wcflex-disabled { /*opacity: 0!important; filter:alpha(opacity=0); cursor: default;*/ }
/* .wcflex-direction-nav a:before  { display: inline-block; background-image:url("images/leftarrow.png"); } */
/* .wcflex-direction-nav a.wcflex-next:before  { background-image:url("images/rightarrow.png"); } */

/* Pause/Play */
.wcflex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
/* .wcflex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; } */
/* .wcflex-pauseplay a:hover  { opacity: 1; } */
/* .wcflex-pauseplay a.wcflex-play:before { content: '\f003'; } */

/* Control Nav */
.wcflex-control-nav {font-size: 11px; line-height: 11px; width: 100%; position: relative; text-align: center; padding-top: 20px;}
.wcflex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.wcflex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.wcflex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.wcflex-control-paging li a.wcflex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.wcflex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.wcflex-control-thumbs li {width: 25%; float: left; margin: 0;}
.wcflex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.wcflex-control-thumbs img:hover {opacity: 1;}
.wcflex-control-thumbs .wcflex-active {opacity: 1; cursor: default;}

.wcflexslider-hidecontrols .wcflex-control-paging {
	display: none;
}
.wcflexslider-hidecontrols .wcflex-direction-nav a {
	margin-top: -25px;
}

/* @media screen and (max-width: 860px) {
  .wcflex-direction-nav .wcflex-prev { opacity: 1; left: 10px;}
  .wcflex-direction-nav .wcflex-next { opacity: 1; right: 10px;}
} */
/* @media screen and (max-width: 480px) {
  .wcflex-direction-nav .wcflex-prev { background: none; }
  .wcflex-direction-nav .wcflex-next { background: none; }
} */
