.wc-gallery-clear:before,
.wc-gallery-clear:after {
	content: '';
	display: table;
}
.wc-gallery-clear:after {
	clear: both;
}
/**
 * [gallery]
 * ----------------------------------------------------------------------------
 */
.wc-gallery .gallery {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	overflow: hidden;
}
.wc-gallery .gallery.gallery-masonry {
}
.wc-gallery .gallery.gallery-masonry .gallery-item {
	display: none;
}
.wc-gallery .gallery.gallery-masonry,
.wc-gallery .gallery.gallery-default {
}

.wc-gallery .wc-gallery-bottomspace-default {
	margin-bottom: 20px;
}
.wc-gallery .wc-gallery-bottomspace-ten {
	margin-bottom: 10px;
}
.wc-gallery .wc-gallery-bottomspace-five {
	margin-bottom: 5px;
}
.wc-gallery .wc-gallery-bottomspace-none {
	margin-bottom: 0;
}

.wc-gallery .gallery-center {
	margin-left: auto;
	margin-right: auto;
}

.wc-gallery .gallery.gallery-default .gallery-item {
}

.wc-gallery .gallery-item {
	float: left; /* added this so images don't stack before masonry kicks in */
	margin: 0;
	position: relative;
	/* margin-bottom: 5px; */
	max-width: none !important;
}

.wc-gallery .gallery .gallery-icon a {
	display: block;
}

.wc-gallery .gallery .gallery-icon a img {
	/* some theme files do not have proper reset settings */
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.wc-gallery .gallery.gallery-with-border .gallery-icon a {
	border: 1px solid #eeeeee;
}

.wc-gallery .gallery-caption {
	margin: 0;
	/* -webkit-transition: opacity 400ms ease; */
	/* transition:         opacity 400ms ease; */

	/* -ms-word-break: break-all; */
	/* word-break: break-all; */

	/* Non standard for webkit */
	/* word-break: break-word; */

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;

	width: auto;
	padding: 5px 10px;
	overflow: hidden;
}
.wc-gallery .gallery-caption h2,
.wc-gallery .gallery-caption h3,
.wc-gallery .gallery-caption h4,
.wc-gallery .gallery-caption h5,
.wc-gallery .gallery-caption h6,
.wc-gallery .gallery-caption p {
	margin: 0;
	padding: 0;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.wc-gallery .gallery-caption p {
	text-align: left;
}

.wc-gallery-captions-show .gallery-caption {
	background-color: #f5f5f5;
}
.wc-image-links .gallery-caption,
.wc-gallery-captions-onhover .gallery-caption,
.wc-gallery-captions-showon .gallery-caption {
	max-height: 50%;
	min-height: 0;
	box-shadow: none;
	opacity: 1;
	position: relative;
	background-color: #eeeeee;
	color: #666666;
	bottom: 0;
	left: 0;
	right: 0;
}
.wc-image-links .gallery-caption:after,
.wc-image-links .gallery-caption:before,
.wc-gallery-captions-onhover .gallery-caption:after,
.wc-gallery-captions-onhover .gallery-caption:before,
.wc-gallery-captions-showon .gallery-caption:after,
.wc-gallery-captions-showon .gallery-caption:before {
	box-shadow: none;
	min-height: 0;
	position:relative;
	display: none;
}

.wc-image-links .gallery-caption,
.wc-gallery-captions-showon .gallery-caption,
.wc-gallery-captions-onhover .gallery-caption {
	background: rgba(255, 255, 255, .8);
	position: absolute;
	display: none;
}

.wc-image-links .gallery-caption,
.wc-gallery-captions-showon .gallery-caption,
.wc-gallery-captions-onhover .gallery-item:hover .gallery-caption {
	display: block;
}

@media screen and (max-width: 568px) {
	body .wc-gallery .gallery-caption {
		display: none;
	}
	body .wc-gallery .wc-image-links .gallery-caption {
		display: block;
	}
	body .wc-gallery .wc-image-links-bottomlinks {
		margin: 0;
	}
}
/**
 * Image Links
 * ----------------------------------------------------------------------------
 */
.wc-gallery .gallery-item .gallery-block {
	position: relative;
}
.wc-image-links-slider3bottomlinks .gallery-item {
	width: 33.3333%;
	float: left;
}
.wc-image-links-bottomlinks.wc-image-links-gutter-space-0 { margin-right: 0px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-0 .gallery-block { margin-top: 0px; margin-right: 0px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-1 { margin-right: -1px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-1 .gallery-block { margin-top: 1px; margin-right: 1px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-2 { margin-right: -2px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-2 .gallery-block { margin-top: 2px; margin-right: 2px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-3 { margin-right: -3px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-3 .gallery-block { margin-top: 3px; margin-right: 3px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-4 { margin-right: -4px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-4 .gallery-block { margin-top: 4px; margin-right: 4px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-5 { margin-right: -5px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-5 .gallery-block { margin-top: 5px; margin-right: 5px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-6 { margin-right: -6px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-6 .gallery-block { margin-top: 6px; margin-right: 6px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-7 { margin-right: -7px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-7 .gallery-block { margin-top: 7px; margin-right: 7px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-8 { margin-right: -8px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-8 .gallery-block { margin-top: 8px; margin-right: 8px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-9 { margin-right: -9px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-9 .gallery-block { margin-top: 9px; margin-right: 9px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-10 { margin-right: -10px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-10 .gallery-block { margin-top: 10px; margin-right: 10px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-11 { margin-right: -11px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-11 .gallery-block { margin-top: 11px; margin-right: 11px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-12 { margin-right: -12px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-12 .gallery-block { margin-top: 12px; margin-right: 12px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-13 { margin-right: -13px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-13 .gallery-block { margin-top: 13px; margin-right: 13px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-14 { margin-right: -14px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-14 .gallery-block { margin-top: 14px; margin-right: 14px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-15 { margin-right: -15px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-15 .gallery-block { margin-top: 15px; margin-right: 15px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-16 { margin-right: -16px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-16 .gallery-block { margin-top: 16px; margin-right: 16px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-17 { margin-right: -17px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-17 .gallery-block { margin-top: 17px; margin-right: 17px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-18 { margin-right: -18px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-18 .gallery-block { margin-top: 18px; margin-right: 18px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-19 { margin-right: -19px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-19 .gallery-block { margin-top: 19px; margin-right: 19px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-20 { margin-right: -20px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-20 .gallery-block { margin-top: 20px; margin-right: 20px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-21 { margin-right: -21px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-21 .gallery-block { margin-top: 21px; margin-right: 21px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-22 { margin-right: -22px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-22 .gallery-block { margin-top: 22px; margin-right: 22px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-23 { margin-right: -23px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-23 .gallery-block { margin-top: 23px; margin-right: 23px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-24 { margin-right: -24px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-24 .gallery-block { margin-top: 24px; margin-right: 24px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-25 { margin-right: -25px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-25 .gallery-block { margin-top: 25px; margin-right: 25px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-26 { margin-right: -26px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-26 .gallery-block { margin-top: 26px; margin-right: 26px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-27 { margin-right: -27px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-27 .gallery-block { margin-top: 27px; margin-right: 27px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-28 { margin-right: -28px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-28 .gallery-block { margin-top: 28px; margin-right: 28px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-29 { margin-right: -29px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-29 .gallery-block { margin-top: 29px; margin-right: 29px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-30 { margin-right: -30px; }
.wc-image-links-bottomlinks.wc-image-links-gutter-space-30 .gallery-block { margin-top: 30px; margin-right: 30px; }

.wc-image-links-slider3bottomlinks .gallery-item.gallery-item-3 {
	width: 33.3334%;
	float: right;
}
.wc-image-links-slider4bottomlinks .gallery-item {
	width: 25%;
	float: left;
}
.wc-image-links-slider4bottomlinks .gallery-item.gallery-item-4 {
	width: 25%;
	float: right;
}

/**
 * [gallery flexslider]
 * ----------------------------------------------------------------------------
 */
.wcflexslider-container {
	overflow: hidden;
}
.wc-gallery .gallery.wcflexslider {
	/* line-height: 1; */
	border-width: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.wc-gallery .gallery.wcflexslider .wcflex-control-paging {
	display: none;
}
.wc-gallery .gallery.wcflexslider .wcflex-control-paging li a {
	background-color: #eeeeee;
	box-shadow: none;
}

.wc-gallery .gallery.wcflexslider .wcflex-control-paging li a.wcflex-active {
	background-color: #cccccc;
}

.wc-gallery .gallery.wcflexslider .wcflex-slide-item {
	position: relative;
}

.wc-gallery .gallery.wcflexslider .wcflex-slide-item .wcflex-center-slide {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.wc-gallery .wcflexslider .slides .gallery-caption {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

/*
 * Image Popup
 */
.mfp-close:hover,
.mfp-close:active,
.mfp-close:focus,
.mfp-arrow:hover,
.mfp-arrow:active,
.mfp-arrow:focus {
	background-color: transparent;
}

.mfp-bottom-bar *,
.mfp-bottom-bar p {
	margin-bottom: 0;
}
.mfp-arrow:hover,
.mfp-arrow:active,
.mfp-arrow:focus {
	top: 50%;
}
body .mfp-arrow:active {
    margin-top: -55px;
}
